[submodule "packages/openjpegjs/extern/openjpeg"]
	path = packages/openjpegjs/extern/openjpeg
	url = https://github.com/PrecisionMetrics/openjpeg.git
[submodule "packages/charls-js/extern/charls"]
	path = packages/charls-js/extern/charls
	url = https://github.com/PrecisionMetrics/charls.git
[submodule "packages/libjpeg-turbojs/extern/libjpeg-turbo"]
	path = packages/libjpeg-turbojs/extern/libjpeg-turbo
	url = https://github.com/PrecisionMetrics/libjpeg-turbo.git
