version: 2.1

## https://github.com/cypress-io/circleci-orb
# orbs:
#   codecov: codecov/codecov@1.0.5
#   cypress: cypress-io/cypress@1.26.0
executors:
  # Custom executor to override Cypress config
  deploy-to-prod-executor:
    docker:
      - image: 'cypress/browsers:node14.15.0-chrome86-ff82'
        environment:
          CYPRESS_BASE_URL: https://ohif-staging.netlify.com/
  chrome-and-pacs:
    docker:
      # Primary container image where all steps run.
      - image: 'cypress/browsers:node14.15.0-chrome86-ff82'
      - image: 'ohif/viewer-testdata:0.1-test'
      
      
defaults: &defaults
  docker:
    - image: circleci/node:14.15.0
      environment:
        TERM: xterm # Enable colors in term
        QUICK_BUILD: true
  working_directory: ~/repo
  
  
jobs:

  UNIT_TESTS:
    <<: *defaults
    steps:
      - run: yarn -v
      - checkout:
          post:
            - git fetch --all
      - restore_cache:
          name: Restore Yarn and Cypress Package Cache
          keys:
            # when lock file changes, use increasingly general patterns to restore cache
            - yarn-packages-{{ checksum "yarn.lock" }}
            - yarn-packages-
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save Yarn Package Cache
          paths:
            - ~/.cache ## Cache yarn and Cypress
          key: yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: 'JavaScript Test Suite'
          command: yarn run test:unit:ci
      - run:
          name: 'Combine report output'
          command: |
            coverateDir="/home/circleci/repo/coverage"
            touch "${coverateDir}/reports"
            cat "${coverateDir}/clover.xml" >> "${coverateDir}/reports"
            echo "\<<\<<\<< EOF" >> "${coverateDir}/reports"
            cat "${coverateDir}/lcov.info" >>"${coverateDir}/reports"
            echo "\<<\<<\<< EOF" >> "${coverateDir}/reports"
      # - codecov/upload:
      #     file: '/home/circleci/repo/coverage/reports'

NPM_PUBLISH:
    <<: *defaults
    steps:
      - run: yarn -v
      - checkout:
          post:
            - git fetch --all
      - restore_cache:
          name: Restore Yarn and Cypress Package Cache
          keys:
            - yarn-packages-{{ checksum "yarn.lock" }}
            - yarn-packages-
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          name: Save Yarn Package Cache
          paths:
            - ~/.cache/yarn
          key: yarn-packages-{{ checksum "yarn.lock" }}
      - run:
          name: Avoid hosts unknown for github
          command: |
            rm -rf ~/.ssh
            mkdir ~/.ssh/
            echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
            git config --global user.email "danny.ri.brown+ohif-bot@gmail.com"
            git config --global user.name "ohif-bot"
      - run:
          name: Authenticate with NPM registry
          command:
            echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run: npx lerna version
      - run: npx lerna publish from-package
      
workflows:
  version: 2

  PR_CHECKS:
    jobs:
      - UNIT_TESTS:
          filters:
            branches:
              ignore:
                - main
                - feat/*
                - hotfix/*
  DEPLOY:
    jobs:
      - BUILD:
          filters:
            branches:
              only: main
